extends _layout
block content
  header.orange_bg
    .container
      h1 Dotinstall Pane
      p
        | ドットインストールをみながら
        br
        | コーディングが出来るAtomパッケージ
      a(href="#" target="_blank").btn 詳細を見る #[i.fas.fa-external-link-alt]
      img(src="./img/top.png" width="480" height="270" alt="Dotinstall画像")
  section.features
    .container
      h1.section-title(data-subtitle="- Features -") Dotinstall Paneの特徴